@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container1{
    background-image: url("https://picsum.photos/1600/900");
    min-height:100vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Girassol', cursive;
    display: flex;
    justify-content:center;
    align-items:center;
}
.container2{
    display: flex;
    flex-direction: column;

    align-items: center;
    
    background-color: #00acb584;
    background-position: 0% 0%;
    border: 2px solid #E1F1DD;
    min-width: 600px;
    max-height:600px;
    border-radius: 50%;
    padding:5px;
   
}
.container2 img {
    margin: 3rem 1rem 1rem;
    height: 75px;
}
.head{
    color: #FFF;
    font-size: 3rem;
    margin:2rem 0;
    height:67px;
    
}
form{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
   
    
  
   
}
form input{
    margin:1rem;
    padding: 1px 2px;
    height:50px;
    width: 250px;
    border-radius: 5px;
    border: none;
    
}
button{
    margin:1rem;
    padding:10px 6px;
    border: none;
    border-radius: 5px;
   
}
